body{
    background-image: url("background.png");
    background: #white;
}

.clock{
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translateX(-40%) translateY (-40%);
    color: #fff;
    font-size: 100px;
}
