body{
    background-image: url("background.png");
    background: #white;
}

.clock{
    position: absolute;
    top: 40%;
    right: 10%;
    transform: translateX(-40%) translateY (-40%);
    color: #fff;
    font-size: 8em;
    font-family: "Brush Script MT", cursive;
}
