body{
    background-image: url("background.png");
    background: #white;
}

.clock{
    position: absolute;
    top:40%;
    left: 43%;
    transform: translateX(-40%) translateY (-40%);
    color: #fff;
    font-size: 2em;
    font-family: "Courier New";
}
